---
layout: archive
title: "Data Reduction with Information"
permalink: /ASL/
author_profile: true
---

{% include base_path %}

{% for post in site.misc %}
  {% include archive-single.html %}
{% endfor %}

<HTML>


<head>
<title>Applied Statistics Laboratory</title>
<meta http-equiv="Refresh" content="15; url=https://sites.google.com/view/appliedstatlab" />
</head>




<B>Welcome to Applied Statistics Laboratory (ASL) at Pusan National University (PNU).</B><br/>

<P>
<font size="-1"> 
The Applied Statistics Laboratory (응용통계연구실) was established 
by Professor Chanseok Park (박찬석) in the Department of Industrial Engineering 
at Pusan National University on March 2, 2016. 
The room has been shared with the Dr. Gyu M. LEE's lab by September 2017. 
Since then, the lab moved to a new place and is now located at Rm 10-516 (ASL Lab I) 
and 10-517 (ASL Lab II) in Engineering Building #10 of Pusan National University. 
Professor Park had been at Rm 10-618, right next door to Dr. Gyu M. LEE, by January, 2018. 
On the 18th of January, 2018, he also moved to a new office at Rm 10-527 of the same building.<br/>

As the director of the Applied Statistics Laboratory, 
Professor Park leads the applied statistics group, teaches statistics courses, 
and carries out various research projects on applied statistics and engineering fields 
including quality and reliability engineering, competing risks model, statistical computing, 
solid mechanics, etc. The theoretical areas such as finite-sample properties, 
robustness and minimum distance methods are also carried out in the lab. <br/>

His research and the members in the lab have been supported by several research funds 
including the National Research Foundation (NRF) of Korea, 
the International Cooperation Program by the NRF and the National Natural Science Foundation 
of China, Two-Year Research Grant of PNU, CK-1 fund by the NRF, 
the 6th BRIDGE grant of PNU, the PNU Grant 2015, etc. <br/>
</font>
</P>

<br/>
<H1>Members</H1>
<H3>Current Students</H3>
<UL>  
<LI><A href="https://www.researchgate.net/profile/Xiaopeng-Chen-12"><b>Xiaopeng CHEN</b></A> 
(陳曉鵬), PhD in progress.
Machine learning, AI, Computer vision, Image processing.

<!--
<LI><A href="https://www.researchgate.net/profile/Chunxi-Wang-5"><b>Chunxi WANG</b></A> 
(王春喜), Master in Progress.
Bootstrapping of PCI under three-parameter Weibull model.
<LI><b>Tyasha Warna VALINDA</b>, Master (course completion).
Analysis of missing and incomplete data and its applications to engineering statistics. 
EM algorithm. 
-->
<LI><b>N. JEONG</b>, Master in progress.   

<LI><b>S. BANG</b>, Master (course completion). 
Applications of control charts in analyzing big data.

</UL>


<H3>Former Students</H3>
<UL>
<LI><b>J. W. YUN</b>, MS in IE, Feb. 2021. 
Regression analysis with big data from Korean vocational schools. 

<LI><A href="https://www.researchgate.net/profile/Junhyeok-Yun"><b>J. YUN</b></A>, 
MS in IE, Feb. 2021. Data Science, Statistical Data Analysis, Advanced Machine Learning, Large Scale Data Analysis, Computational Intelligence.

<LI><b>Xuehong GAO</b> (高學鴻), PhD in IE, Aug. 2020.
 Assistant Professor at USTB. Location-driven method, Stochastic Modeling, Stochastic
Optimization, Mathematical Programming, Robust Optimization. (Co-Advisor: Dr. Bosung KIM).

<LI><b>H. KIM</b>, MS in IE, Aug. 2020. Instrumentation Engineering, Applied Statistics.

<LI><b>H. LEE</b>, BS in IE, Feb. 2020. Logistics, Production planning.

<LI><b>S. SON</b>, BS in IE, Feb. 2020. Application statistics. 

<LI><A href="https://www.researchgate.net/profile/Fifi-Rosyidah"><b>Fifi Alfiana ROSYIDAH</b></A>, MS in IE, Feb. 2019. DSS, Information System Management, Decision Analysis.

<LI><A href="https://www.researchgate.net/profile/Seoyeong-Ryu"><b>S. RYU</b></A>, 
BS in IE, Aug. 2019. Big data.

<LI><A href="https://www.researchgate.net/profile/Jeong-Ryeji"><b>R. JEONG</b></A>, 
BS in IE, Feb. 2019. Robustification of the z-test statistic.

<LI><A href="https://www.researchgate.net/profile/Donggeun-Lee-6"><b>D. LEE</b></A>, 
MS in IE, Feb. 2018. Data Processing and Computer Science, Statistical Analysis, Statistical Modeling, Applied Statistics.

<LI><b>N. T. PHAM</b>, (quit). 2017.

<LI><A href="https://www.researchgate.net/profile/Piya-Hengmeechai">
<b>Piya HENGMEECHAI</b></A>, PhD in Progress (on leave).  Evolutionary Computation, Optimization, Multiobjective Optimization, Heuristics, Simulation, Mathematical Programming, Modeling, Integer Programming, Linear Programming, Logistics.

<LI><b>Baruni AL</b>,, MS in Progress (on leave).  Standard Statistical Analysis, Statistical Analysis, Advanced Statistical Analysis.
</UL>


<H3>Visitors</H3>
<UL>
<LI><A href="https://www.researchgate.net/profile/Tianli-Xiao-2"><b> <b>Tianli XIAO</b></A>(肖甜丽), 
Currently PhD in Progress at NUST, China. (June 18, 2021 - present). <br/> 

<LI><A href="https://www.researchgate.net/profile/Xie-En-3"><b>En XIE</b></A> (謝恩), 
Currently PhD in Progress at NUST, China. (Nov. 11, 2019 - Dec. 5, 2020). <br/>

<LI><b>Pai ZHENG</b> (郑湃), Professor at Hong Kong Polytechnic University (Dec. 12-13, 2019). <br/>

<LI><b>Myung Hwan NA</b>, Professor at Chonnam National University (July 17, 2019). <br/>

<LI><A href="https://cn.linkedin.com/in/linhan-ouyang-94834b41">
<b>Linhan OUYANG</b></A>, 
Professor at Nanjing University of Aeronautics and Astronautics (Nov. 2018 - Jan. 2019). <br/>

<LI><A href="https://www.oit.edu/directory/don-lee">
<b>Dongbin LEE</b></A>, Professor at Oregon Institute of Technology (Sept., 2917). <br/>
</UL>



<H3>External Research Fellow</H3>
<UL>
<LI><A href="https://www.linkedin.com/in/mark-leeds-b913059">
<b>Mark Leeds</b></A> (PhD in Statistics),  Statematics, NY, USA:  Quantitative analysis, Time series analysis, Robust design, Statistical consulting, Analysis of financial big data, Bootstrapping. 
</UL>


<H3>Former Students (Clemson University)</H3>
<UL>
<LI><A href="https://www.linkedin.com/in/dominique-morgan-07510625">
<b>Dominique Jerrod MORGAN</b></A> (PhD in Math, May 2015).

<LI><A href="https://people.stat.sc.edu/jiana/">
<b>Chendi JIANG</b></A> (PhD in Math, August 2015).

<LI><b>Jing ZHAO</b> (MS in Math, July 2013).

<LI><b>Robert PETTIS</b> (BS in Math with Honor, May 2013).

<LI><b>Hugh CLIFTON</b> (MA in Math, August 2009).

<LI><b>Chinthaka KURUWITA</b> (MA in Math, December 2006).

<LI><b>Xiang HAN</b> (MA in Math, May 2006).
</UL>

<br/>
<br/>
<H1>Photos</H1>
<UL>
<LI><A href="https://photos.google.com/share/AF1QipPnYYZFQ6Jx06_ieXcbpfsnateayvQd8OfUfOiP8kGsvcBfJ8EFJJGQqgMuzSELBg?key=SlI3LTlHQTRWYTAzVVFLSUhGQml6Rzk1YVprS0dn">
2020-07-06: Graduation (Dr. Gao)
</A> 

<LI><A href="https://photos.google.com/share/AF1QipO13SGpXmkveN0UnTleX3im34Bwmt-DZ7WOWqkp99qF-QMay2m1qyanCH4Dw5528A?key=WmhPbExLeHVfeG5hOVB0Y2x1S0tWaERvSXVJVnRB">
2019-08-24: Korea-China Quality Symposium
</A>

<LI><A href="https://photos.google.com/share/AF1QipMivzagzFaumX1kVjDeUC9sfVhttBU6lJpwbKrLFXD6VnZtdMJDDmgAduNt-qZF0Q?key=R3UzTTdKcHJCSG8zWm1wbTB6Y2ZJY2xGWU5nVmxR">
2019-05-15: Teacher's day
</A>

<LI><A href="https://photos.google.com/share/AF1QipMEFZzQDFSgi-R92n_RvGy1fxmABrZphz6dIa3YUnpwn99be46EVwk4HBaHjHD7UA?key=aVpTODllRmpOOW1jWVVxZWdaOEY5RmJoUVZxTGV3">
2019-02-22: 졸업식
</A>

<LI><A href="https://photos.google.com/share/AF1QipPZa0PwbStMfbz44zBDlL-TWCRz3fb-dgfOCxrfo1uPEWQq0YhUmGKbjH2wwxRJbg?key=RlRNOUQ4cmZIbHNaQ2t2WmxZM0tLem0xZEpvM0Jn">
2018-11-09: KIIE 대한산업공학회 추계학술대회(서울)
</A>

<LI><A href="https://photos.google.com/share/AF1QipOAxW4mS1AArm_l7tfLzP1bS1fTUb9dRBn_ZkPeVikA_MawBpkfxbNAjjYjSe7TCg?key=T1dzaVdkREpYNnk5U1NFNmpwNWR5OWV5Mmp5ckh3">
2018-11-03: 경상대 방문 (진주)
</A>

<LI><A href="https://photos.google.com/share/AF1QipNqzlhD5Gj4SBu5D4eHzOFlZwhwlld9WkAu3IPcbmnFhcmNpE6cPMDIbWcrqN0kvA?key=RHVVemNfNjlXMWxfbXZFSmlIZldhYkpDX3Boa0hB">
2018-07-19: Holland TUE 대학 부산대 방문
</A>

<LI><A href="https://photos.google.com/share/AF1QipN3HOOugjG16WMhKBvLe0Uccj3Deas3ZIqIpvuCPUs2deD-Gh6EpDK7EmNoEb-csA?key=ODM5bVkzaF9uMEFVMlctb0E3TmJJM1M3VnhLM2xB">
2018-04-05: KIIE 대한산업공학회 춘계학술대회 (경주)
</A>

<LI><A href="https://photos.google.com/share/AF1QipPOkaCce79QM0Lsgp6MrJNO3Lx2e-SYLTRsP3nBxSVj-4VaEbKBnKzEzU8QCRR2AA?key=ZEc1cVkxRzU5MnI3Mjlpc1I4d1Q0WkFEa0xCSnVB">
2017-11-04: KIIE 대한산업공학회 추계학술대회 (대전)
</A>

<LI><A href="https://photos.google.com/share/AF1QipMvbiu522Q2X_tc6bG1kFwlf9iC1CLn-yYJYOROMXRlTAh18lYFf33r-QROyqCf_Q?key=SFhMSjJadXdEWTkxSW1GdWg4bEYteGRTMHU1X0dB">
2017-04: Applied Statistics Lab 공사중
</A>

<LI><A href="https://photos.google.com/share/AF1QipO98iMGLrWMe2MQfiFFs0V8VXCXE4TXQ6DUNx4PiH1GYL2Wa1zfmtaT9s8YCp9iaQ?key=Q0V2VTd0c1hJeFlyUDhjdDA4S25sbUt6VTlOeElB">
Miscellaneous
</A>
</UL>



<br/>
<br/>
<H1>Meetings</H1>
<UL>
<LI>2018-05-31:    Q-Q plot.  Weibullness

<LI>2018-06-27:    1. pooled sample sd and var. 2. GOF for exponential. 3. robust geometric mean 4. Future plans. 

<LI>2018-07-TBA: (canceled)   will prepare for the KIIE conference at Seoul, November. 

<LI>2018-11-2/3:  visited Gyeongsang National University to discuss the research topics for the KIIE conference at Seoul, November 9.

<LI>2018-11-15:  Introduction to Regression. (Room 515). 

<LI>2019-01-04:  Regression and Python Program (Room 515). 

<LI>2019-09-26:  Master's thesis and PhD thesis topics (Room 527)

<LI>2019-10-31:  Master's thesis and PhD thesis topics (Room 527)

<LI>2019-11-28:  Master's thesis and PhD thesis topics (Room 527)

<LI>2019-12-20:  Master's thesis and PhD thesis topics (Room 527) 

<LI>2020-01-09:  Master's thesis and PhD thesis topics (Room 527) 

<LI>2020-02-06:  4:30pm. Research Papers for KIIE conference at Changwon in May 2020.

<LI>2021-07-09: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill1">Drill #1</A> (Room 515)
<LI>2021-07-16: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill2">Drill #2</A> (Room 515)
<LI>2021-07-23: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill3">Drill #3</A> (Room 515)
<LI>2021-07-30: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill4">Drill #4</A> (Room 515)

<LI>2021-08-06: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill5">Drill #5</A> (Room 515)
<LI>2021-08-18: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill6">Drill #6</A> (Room 515)

<LI>2021-09-03: <A href="https://github.com/AppliedStat/LM/tree/master/Notes">Chapter 1 of LM</A> (Room 515)
<LI>2021-09-17: <A href="https://github.com/AppliedStat/LM/tree/master/Notes">Chapter 2 of LM</A> (Room 515)
<LI>2021-09-24: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill7">Drill #7</A> (Room 515)

<LI>2021-10-01: <A href="https://github.com/AppliedStat/LM/tree/master/Notes">Chapter 5-1 of LM</A> (Room 515)
<LI>2021-10-08: <A href="https://github.com/AppliedStat/LM/tree/master/Notes">Chapter 5-2 of LM</A> (Room 515)
<LI>2021-10-29: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill8">Drill #8</A> (Room 515). Dinner together at 애슐리 (NC 백화점).
<LI>2022-02-23: <A href="https://github.com/AppliedStat/ASL/tree/master/Drill9">Drill #9</A> (Room 702). 
    Dinner together at Rm. 10527 with Pizza.
</UL>



</HTML>
