---
layout: archive
title: "Miscellaneous" 
permalink: /misc/
author_profile: true
---

{% include base_path %}

{% for post in site.misc %}
  {% include archive-single.html %}
{% endfor %}




<OL>
 <LI><B>Several inequalities used for construction of the X-bar and S control charts with une
qual sample sizes.</B> 
 IEICE Technical Committee Conference on Reliability, Nagoya, Japan (May 23, 2019).   <br>
  [ <A href="https://github.com/AppliedStat/seminar">More information here</a> ]


 <LI><B>Robust Estimation based on Hellinger Distance.</B> 
 Colloquium, Department of Statistics, The Pennsylvania State University (Apr., 1998).
</OL>

