---
layout: archive
title: "R Packages"
permalink: /Rpackage/
author_profile: true
---

<style>
  .dark-text-fix {
    color: #000000; /* Default/Light mode color */
  }
  @media (prefers-color-scheme: dark) {
    .dark-text-fix {
      color: #ffffff; /* Dark mode color */
    }
  }
</style>

<span class="dark-text-fix">This text changes color based on your system or viewer theme!</span>


{% include base_path %}

{% for post in site.Rpackage %}
  {% include archive-single.html %}
{% endfor %}

<br />

R Codes
======
Collection of R codes used in the published articles: 
 [R Codes](https://github.com/AppliedStat/R-code). 
