---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<OL>
 <LI><B>Several inequalities used for construction of the X-bar and S control charts with unequal sample sizes.</B> 
 IEICE Technical Committee Conference on Reliability, Nagoya, Japan (May 23, 2019).  

 <LI><B>Analysis of Parametric versus Nonparametric methods with statistical simulations.</B>
  Samsung, Dongtan, Korea (August 31, 2018).  <br>
  [ <A href="https://github.com/AppliedStat/seminar">More information here</a> ]

 <LI><B>Robust Estimation and Goodness of fit for model.</B>
  Samsung, Dongtan, Korea (July 13, 2018).   <br>
  [ <A href="https://github.com/AppliedStat/seminar">More information here</a> ]

 <LI><B>Efficient Robust Methods and Their Applications.</B> 
  School of Industrial and Systems Engineering, Gyeongsang National University, Jinju, Korea (December 1, 2017).

 <LI><B>A Statistical Analysis on Modeling Uncertainty through Crack Initiation Tests.</B> 
 18th International Conference on Environmental Degradation of Materials in Nuclear Power Systems - Water Reactors. Marriott Portland Downtown Waterfront, Portland, Oregon, USA (August 13–17, 2017). Speaker: Jae Phil Park

 <LI><B>A Statistical Analysis on Modeling Uncertainty through Crack Initiation Tests.</B> 
  Asia Pacific Conference of Prognostics and Health Management (PHM) Society 2017. Ramada Plaza Jeju Hotel, Jeju, Korea (July 12-15, 2017). Speaker: Jae Phil Park

 <LI><B>균열생성모델의 추정 불확실성에 대한 실험조건의 영향.</B> 
  대한기계학회 신뢰성부문 2017년도 춘계학술대회, 제주대학교 (February 17, 2017). Speaker: Jae Phil Park

 <LI><B>On the existence of the location parameter estimate of the three-parameter Weibull model using the Weibull plot.</B> 
 The 7th Asia-Pacific International Symposium on Advanced Reliability and Maintenance Modeling (APARM 2016) at Hanyang University, Seoul (August 25, 2016).

 <LI><B>Parameter Estimation of the Three-Parameter Weibull Model and Goodness-of-fit Test for Weibullness.</B> 
 The 8th Software Management Symposium 2015 - Trends in Management Technology and Human Resource Development at Soonchunhyang University, Asan-si (November 27, 2015).

 <LI><B>Parameter Estimation of the Three-Parameter Weibull Model Using the Sample Correlation Coefficient from the Weibull Plot.</B> 
 The 2nd East Asia Workshop on Industrial Engineering (EAWIE) conference at Yonsei University (November 6, 2015).

 <LI><B>기계신호의 통계적 처리 (in Korean).</B> 
 국방과학 연구소 기동시험장 (진영 소재) (4:00pm / September 18, 2015).

 <LI><B>통계란 무엇인가? (in Korean).</B> 
 산업공학 사례연구 (부산대 산업공학과 학부 특강) (9:00 AM / September 18, 2015).

 <LI><B>Reliability Estimation from Load-Sharing System Data and Weibullness Test with Probability Plots.</B> 
 Department of Industrial Engineering, Pusan National University, Busan, Korea (June 4, 2014).

 <LI><B>An Efficient Robust Design Under Data Contamination.</B> 
 School of Industrial and Systems Engineering, Gyeongsang National University, Jinju, Korea (June 3, 2014)

 <LI><B>Weibullness Test Using the Sample Correlation Coefficient with Probability Plots.</B> 
 The Koran Reliability Society, Jeju (May 30, 2013).

 <LI><B>Statistical Approach to Reliability Engineering Problems with Strength and Lifetime Data.</B> 
 School of Aerospace &amp;amp; Mechanical Engineering, Hankuk Aviation University, Korea (June 4, 2012).

 <LI><B>Parametric Estimation for the Reliability of Generalized Load-Sharing Models.</B> 
 Korean Statistical Society, Daegu, Korea (June 1--2, 2012).

 <LI><B>Statistical Approach to Reliability Engineering Problems with Strength and Lifetime Data.</B> 
 Department of Statistics, Chonnam National University, Korea (May 30, 2012).

 <LI><B>Statistical Approach to Reliability Engineering Problems with Strength and Lifetime Data.</B> 
 Department of Statistics, Seoul National University, Korea (May 24, 2012).

 <LI><B>Statistical Approach to Reliability Engineering Problems with Strength and Lifetime Data.</B> 
 Department of Statistics, Sung Kyun Kwan University, Korea (May 17, 2012).

 <LI><B>Parametric Reliability Estimation from Load-Sharing System Data.</B> 
 Department of Statistics, University of Georgia, Athens, GA (March 22, 2012).

 <LI><B>Reliability Engineering Analysis with Probability Models and Statistical Methods.</B> 
 Department of Mechanical &amp; System Design Engineering, Hongik University, Seoul, Korea (May 19, 2009).

 <LI><B>Reliability Engineering Analysis with Probability Models and Statistical Methods.</B> 
 Department of Mechanical &amp; Automotive Engineering, Inje University, Kimhae, Kyongnam, Korea (May 11, 2009).

 <LI><B>Statistics Approach to Reliability Engineering Problems.</B> 
 Department of Mechanical &amp; Automotive Engineering, Inje University, Kimhae, Kyongnam, Korea (May 13, 2008).

 <LI><B>Statistics and Information.</B> 
 Open House Presentation as a statistics field delegate. Department of Mathematical Sciences, Clemson University (December 1, 2008).

 <LI><B>Statistics Approach to Reliability Engineering Problems.</B> 
 School of Mechanical and Automotive Engineering, University of Ulsan, Ulsan, Korea (May 17, 2007).

 <LI><B>Statistics Approach to Reliability Engineering Problems.</B> 
 First year graduate student seminar, Department of Mathematical Sciences, Clemson University, Clemson University (April 3, 2007).

 <LI><B>Statistical Engineering Approach to the Analysis of Reliability and Lifetimes.</B> 
 Department of Data Science, Inje University, Kimhae, Kyongnam, Korea (May 24, 2006).

 <LI><B>Statistical Engineering Approach to the Analysis of Strengths and Lifetimes.</B> 
 School of Mechanical Engineering, Yeungnam University, Gyeongsan-si, Gyeongsangbuk-do, Korea (May 17, 2006).

 <LI><B>Probability Plotting: A Graphical Tool For Reliability Engineering Analysis.</B> 
 Department of Mechanical &amp; Automotive Engineering, Inje University, Kimhae, Kyongnam, Korea (May 16, 2006).

 <LI><B>Statistical Engineering Approach to the Analysis of Strengths and Lifetimes.</B> 
 Department of Mechanical &amp; Automotive Engineering, Inje University, Kimhae, Kyongnam, Korea (May 15, 2006).

 <LI><B>Statistics and Its Applications to Reliability Engineering Problems.</B> 
 First year graduate student seminar, Department of Mathematical Sciences, Clemson University, Clemson University (March 14, 2006).

 <LI><B>Accelerated Degradation Models for Failure Based on Stochastic Processes with Several Accelerating Variables.</B> 
 Department of Statistics, University of Georgia, Athens, GA (August 25, 2005).

 <LI><B>Reliability Engineering Approach to the Analysis of Strengths and Lifetimes of Mechanical &amp; Automotive Parts.</B> 
 Department of Mechanical &amp; Automotive Engineering, Inje University, Kimhae, Kyongnam, Korea (July 1, 2005).

 <LI><B>Basic Probability Theory and Its Application to Engineering Problems.</B> 
 Invited summer special lecture, Department of Mechanical &amp; Automotive Engineering, Inje University, Kimhae, Kyongnam, Korea (June 27 -- July 1, 2005).

 <LI><B>Statistics and its Applications.</B> 
 First year graduate student seminar, Department of Mathematical Sciences, Clemson University, Clemson University (March 31, 2004).

 <LI><B>Parameter Estimation from Censored Samples using the Expectation-Maximization Algorithm.</B> 
 International Conference on Reliability and Survival Analysis. University of South Carolina, Columbia, SC (May 23, 2003).

 <LI><B>Robust Estimation and Tests based on Quadratic Inference Function.</B> 
 Seminar, Department of Mathematics, Arizona State University (Feb. 2001).

 <LI><B>Robust Estimation and Tests based on Quadratic Inference Function.</B> 
 Statistics Workshop Seminar Series, Department of Statistics, University of British Columbia (Feb. 2001).

 <LI><B>Robust Estimation and Tests based on Quadratic Inference Function.</B> 
 Colloquium, Department of Mathematics, Illinois State University (Jan. 2001).

 <LI><B>Robust Estimation and Tests based on Quadratic Inference Function.</B> 
 Colloquium, Department of Mathematical Science, Clemson University (Jan. 2001).

 <LI><B>Robust Estimation and Tests based on Quadratic Inference Function.</B> 
 Colloquium, Department of Statistics, University of California, Los Angeles (April, 2000).

 <LI><B>Robust Scale Estimation and Hypothesis Testing based on Quadratic Inference Function.</B> 
 Conference in honor of Professor C. R. Rao on the occasion of his 80th birthday. University of Texas at San Antonio (Mar., 2000).

 <LI><B>Robust Location Estimation and Tests based on Quadratic Inference Function.</B> 
 Joint Statistical Meetings, Baltimore MD (Aug., 1999).

 <LI><B>Robust Estimation based on Hellinger Distance.</B> 
 Colloquium, Department of Statistics, The Pennsylvania State University (Apr., 1998).
</OL>

